<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS,GMT+8}]%-5level %logger{72}[%L] - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.yongche.web" level="TRACE"/>

    <!-- Spring -->
    <logger name="org.springframework" level="WARN"/>
    <logger name="org.springframework.boot.SpringApplication" level="INFO"/>
    <logger name="org.springframework.cloud.config.client.ConfigServicePropertySourceLocator" level="OFF"/>

    <!-- Tomcat容器 -->
    <logger name="org.apache.catalina" level="INFO"/>

    <!-- 其他 (暂无) -->

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>